* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: #161616;
}

tooltip {
    background: #a4a4a4;
    /* border-radius: 10px; */
    /* border-width: 2px; */
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    padding: 2px;
    color: #6f6f6f;
    margin-right: 5px;
}

#workspaces button.active {
    color: #c8cfef;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}

#custom-power_profile,
#custom-weather,
#custom-myhyprv,
#custom-light_dark,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#backlight {
    /* background: #1e1e2e; */
    /* opacity: 0.8; */
    padding: 0px 7px;
    margin: 3px 0px;
    /* margin-top: 10px; */
}

/* close to left */


/*close to the right */
#bluetooth, #custom-light_dark {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#temperature.critical {
    color: #eba0ac;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-power_profile {
    color: #a6e3a1;
    border-left: 0px;
    border-right: 0px;
}

#backlight{
    color: #eba0ac;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
    color: wheat;
}

#clock {
    color: #fab387;
    border-radius: 10px 0px 0px 10px;
    margin-left: 10px;
    border-right: 0px;
}

#network {
    color: #f9e2af;
    border-radius: 10px 0px 0px 10px;
    border-left: 0px;
    border-right: 0px;
}

#bluetooth {
    color: #89b4fa;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px
} 

#pulseaudio {
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#battery {
    color: #a6e3a1;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}

#custom-weather {
    border-radius: 0px 10px 10px 0px;
    border-right: 0px;
    margin-left: 0px;
}

#custom-expand {
    min-width: 25px;
    color: #cba6f7;
}

#tray {
    margin: 0px;
    padding: 0px;
}

#tray * {
    margin-left: 8px;
}

#group-minimized {
    border-left: solid;
    border-left-width: 0.5px;
    color: #cba6f7;
}
